*.pack filter=lfs diff=lfs merge=lfs -text
* !text !filter !merge !diff
frontend/node_modules/.cache/default-development/15.pack filter=lfs diff=lfs merge=lfs -text
frontend/node_modules/.cache/default-development/11.pack filter=lfs diff=lfs merge=lfs -text
frontend/node_modules/.cache/default-development/10.pack filter=lfs diff=lfs merge=lfs -text
frontend/node_modules/.cache/default-development/5.pack filter=lfs diff=lfs merge=lfs -text
frontend/node_modules/.cache/default-development/14.pack filter=lfs diff=lfs merge=lfs -text
frontend/node_modules/.cache/default-development/9.pack filter=lfs diff=lfs merge=lfs -text
frontend/node_modules/.cache/default-development/6.pack filter=lfs diff=lfs merge=lfs -text
frontend/node_modules/.cache/default-development/8.pack filter=lfs diff=lfs merge=lfs -text
frontend/node_modules/.cache/default-development/12.pack filter=lfs diff=lfs merge=lfs -text
